.footer-all {
  background-color: var(--color-primary);
  padding: .25em;
  padding-bottom: .75em;
  text-align: center;
  overflow: hidden;
}

.text a {
  background-color: transparent;
  border: none;
  padding-top: .5em;
}

.social-media a {
  text-decoration: none;
  font-size: 2em;
  padding-left: .5em;
  padding-top: .15em;
}

.foot-btn {
  padding-left: .5em;
  padding-right: .1em;
}

@media only screen and (min-width: 38em) {

  .foot-btn {
    padding-left: 1em;
    padding-right: .5em;
  }

  .social-media a {
    float: left;
    text-align: left;
  }

  .text a {
    float: right;
    text-align: right;
  }

}

@media only screen and (min-width: 60em) {

  .foot-btn {
    padding-left: 2em;
    padding-right: 1em;
  }

}
