body {
  background-color: #f2f2f2;
}

form {
  width: 20em;
}

input {
  border: none;
  background-color: #f2f2f2;
}

.line {
  height: 1px;
  width: 100%;
  background: #fff;
  background-image: var(--background-gradient);
}

.text {
  font-family: var(--font-secondary);
  color: #595959;
  letter-spacing: .1em;
}

.common-select {
  margin-top: 3em;
}

select {
  border: solid 1px #ff7bac;
  background-color: white;
  border-radius: 20px;
  padding-left: 1em;
}
