:root {
  --color-primary: #363689;
  --color-primary-light: #0071bc;
  --color-secondary: #ff7bac;
  --color-secondary-light: #ffb2ce;
  --color-neutral: #dadee3;
  --background-gradient: linear-gradient(to right, rgba(0, 113, 188, 1) 0%, rgba(237, 30, 120, 1) 100%);
  --color-grey-light: #f2f2f2;
  --color-grey-dark: #ccc;

  --font-primary: "Montserrat", arial, sans-serif;
  --font-secondary: "Open Sans", arial, sans-serif;
}

html {
  font-family: var(--font-primary);
}

h1 {
  font-family: var(--font-primary);
  color: var(--color-secondary);
  font-weight: 600;
}

h2 {
  font-family: var(--font-primary);
  color: #000;
  font-weight: 600;
}

h3 {
  font-family: var(--font-primary);
  color: var(--color-primary);
}

h4 {
  font-family: var(--font-primary);
  color: #000;
}

h5 {
  font-family: var(--font-secondary);
  color: #000;
  font-weight: 600;
}

h6 {
  font-family: var(--font-secondary);
  color: #000;
  letter-spacing: .1em;
}

p {
  letter-spacing: 0;
}

a {
  color: #fff;
  letter-spacing: .1em;
}

em, strong, blockquote {
  color: var(--font-primary);
}

li {
  color: var(--color-neutral);
}
